body {
	font: normal 13px/150% Arial, Helvetica, sans-serif;
	text-align: center;
}

header {
	display: inline-block;
	border: 1px solid #000;
	padding: $general_padding;
	font-weight: bold;
	margin: $general_padding $general_padding 0;

	#date {
		font-weight: normal;
	}
}

#sectors {

	text-align: left;
	margin-top: $general_padding;
	padding: 0 $general_padding;

	// Pinterest style
	-moz-column-count: 9;
    -webkit-column-count: 9;
    column-count: 9;
    column-gap: $general_padding;
    display: block;

    @media screen and (max-width: 1499px) {
    	column-count: 8;
    }

    @media screen and (max-width: 1299px) {
    	column-count: 7;
    }

    @media screen and (max-width: 1199px) {
    	column-count: 6;
    }

    @media screen and (max-width: 1099px) {
    	column-count: 5;
    }

    @media screen and (max-width: 899px) {
    	column-count: 4;
    }

    @media screen and (max-width: 719px) {
    	column-count: 3;
    }

    @media screen and (max-width: 549px) {
    	column-count: 2;
    }

    @media screen and (max-width: 369px) {
    	column-count: 1;
    }

    > ul {

		h2 {
			font-weight: bold;
		}

		> li {
			padding: 0 0 $general_padding/2;
			width: 150px;

			-webkit-column-break-inside: avoid;
		    page-break-inside: avoid;
		    break-inside: avoid-column;
		    display:table; 

			&.trailing {
				padding: 0;
			}

			h3 {
				white-space: nowrap;
			}

			img {
				margin: 0 $general_padding/4;
				vertical-align: middle;
			}
		}
	}
}

footer {
	padding: $general_padding/2 $general_padding 0;
	text-align: left;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    section {

    	width: 150px;
    	margin-right: $general_padding;    	
    	margin-bottom: $general_padding;
    	
    	dt, dd {
    		display: inline;
    	}

    	dt {
    		font-weight: bold;
    	}

    	dd {
    		&:after {
    			content: "\A";
  				white-space: pre;
  			}
    	}

    	h2 {
    		font-weight: bold;
    	}

	    &#weather {
            flex-grow: 1;
        }

        &#winter_activities {
            width: 190px;
        }

        &#percent_of_terrain_open {
            width: 220px;
        }

        &#additional_information {
            width: 180px;
        }

	    &#claim {
	    	text-align: center;
	    	width: 100%;	    	
	    }

        &#legend{
            width: 100%;
            label{
                font-weight: 700;
            }
            ul{
                list-style: square;
                margin-left: 30px;
                font-size: 10px;
            }
        }
	}
}

#resort_name{
    text-transform: uppercase;
}